img {
	display: block;
    width: 90%;
    margin: 0 auto;
}


#hotels {
	clear: both;
	margin: 0 auto;
	min-height: 200px;
}

h1 {
	color: #73aff3;
	display: inline-block;
	min-height: 17px;
}

h5 {
	color: #3e7ce9;
	font-size: 15px;
	margin: 0;
	min-height: 12px;
	padding: 0;
}

h6 {
	color: red;
	min-height: 140px;
}

p {
	color: red;
	display: inline-block;
	margin-left: 20px;
}

@media screen and (min-width: 768px) {

	img {
    	float: left;
		margin-right: 40px;
		width: 15%;
    }

    #hotels {
		margin-bottom: 40px;
	}
}